body{
font-family: Arial, sans-serif;
margin:0
background-color:#FF69B4;
color:black
}

header{
backround-color:#FFB6C1;
color:#C71585;
text-align:center;
padding:30px;
font-size:28px;
}

nav{
background-color:#C71585;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:20px;
font-size:18px;
font-weight:bold;
}
nav a:hover{
color:#ffd166;
}

.banner{
backround-image:linear-gradient(rgba(0,0,0,0.4),
rgba(0,0,0,0.4)),url("logo.jpg");
height:200px;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
color:#C71585;
font-size:42px;
font-weight:bold;
letter-spacing:2px;
text-shadow:2px 2px 5px black;
}
.banner-img{
width:10%;
height:200px;
object-fit:cover;
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
background:#FFB6C1;
line-height:1.6;
}

h1{
font-size:36px;
text-align:center;
}

h2{
color:#C71585;
font-size:28px;
margin-top:20px;
}

h3{
font-size:22px;
color:#C71585;
}

p{
font-size:18px;
text-align:justify;
}

.right text{
text-align:right;
font-size:18px;
}

img{
width:100%
border-radius:8px;
margin-top:15px
}

ul{
font-size:18px;
padding-left:20px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:16px;
font-size:18px;
}

table, th, td{
border:2px solid #C71585;
padding:5px;
text align:center;
}

th{
background-color:#C71585;
color:white;
font-size:20px;
}

input, textarea{
width:100%;
padding:10px;
margin-top:8px;
margin-bottom:15px;
border:2px solid #C71585;
border-radius:5px;
font-size:16px;
}

input[type="submit"]{
background-color:#C71585;
color:white;
border:none;
font-size:18px;
cursor:pointer;
}

input[type="submit"]:hover{
background-color:#C71585;
}

footer{
background-color:#C71585;
color:white;
text-align:center;
padding:15px;
font-size:15px;
margin-top:30px;
}
